*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --text-black : #000;
  --text-white : #fff;
  --transparent-black : rgba(0, 0, 0, 0.4);
  --accent-orange : darkorange;
  --accent-light-orange : rgba(255, 140, 0, 0.7);
  width: 1100px;
  margin: 0 auto;
  overflow-x: hidden;
  color: var(--text-black);
  font-family: Raleway, sans-serif;
  font-size: 18px;
}


@media (max-width: 1099.98px) {
  /* Ширина экрана меньше 1100px */
  body {
      width: 100vw;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
