@media (max-width: 699.98px) {
    /* Ширина экрана меньше 1100px */
    /* HEADER */
    .header {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: column;
        justify-content: center;
        column-gap: 15px;
        padding: 30px 0px;
    }

    .logo {
        order: -1;
    }

    .contacts {
        order: 0;
    }

    .menu {
        order: 1;
    }

    /* COVER */
    .cover__title{
        font-size: 70px;
    }

    .descr__subline {
        width: fit-content;
    }

    /* LOTS */
    .lots {
        padding: 70px 24px;
    }

    .lots__list {
        gap: 30px;
    }

    .lots__blog {
        flex-wrap: nowrap;
        align-items: center;
        width: fit-content;
    }

    .lots__blog-title {
        width: 30ch;
        text-align: center;
    }

    .lots__blog-text {
        width: 28ch;
    }


    /* ABOUT */
    .about__description {
        width: fit-content;
    }

    /* FOOTER */
    .footer{
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }

    .footer .menu {
        order: -1;
    }

    .footer .contacts {
        margin: 0;
    }

} 